<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="webteste" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\webteste\webteste\.venv\Scripts\python.exe|C:\webteste\webteste\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <remove key="PYTHONPATH" />
   	<remove key="WSGI_HANDLER" />
        <add key="PYTHONPATH" value="C:\webteste\webteste" />
        <add key="WSGI_HANDLER" value="main.app" />
    </appSettings>
</configuration>
